=breadcrumb_tag do
  %li
    Дисциплины
  %li
    =link_to(ellipsisize(@discipline.discipline_name.to_s), @discipline)
  %li.active
    Редактирование


%h1
  = t('helpers.editing')
  = Discipline.model_name.human

= render 'form'