%h5 Успеваемость

- if @current_role_user.present?
  - if @current_role_user.is_student?
    %table.table
      %thead
        %tr
          %th Название раздела
          %th Оценка

      %tbody
        %tr
          %td= @community.community_disciplines.discipline.discipline_sections.section_name
          %td= @community.community_disciplines.discipline.discipline_sections.marks.mark_value