%h5 Успеваемость

- if @current_role_user.present?
  - if @current_role_user.is_student?
    %table.table
      %thead
        %tr
          %th Название раздела
          %th Оценка

      %tbody
        - @community.community_disciplines.each do |d|
          - d.discipline.discipline_sections.each do |ds|
            %tr
              %td= ds.section_name
              %td= ds.marks.inject(0){ |s, m| s + m.mark_value }
