=breadcrumb_tag do
  %li
    Сообщества
  %li
    =link_to(ellipsisize(@community.community_name.to_s), @community)
  %li.active
    Редактирование


%h1
  = t('helpers.editing')
  = Community.model_name.human

= render 'form'

/= link_to t('helpers.show'), @community
/= link_to t('helpers.back'), communities_path
