=breadcrumb_tag do
  %li
    Сообщества
  %li.active
    Новое сообщество


%h1 Новое сообщество
/  = t('helpers.new')
/  = Community.model_name.human

= render 'form'

/= link_to t('helpers.back'), communities_path
